# PyInstaller 默认生成目录
/build/
/dist/
# python vnev
/venv/
# 二进制文件
*.exe
*.dmg
*.app
GPTOCRGUI-deepseek.py
# 平台临时文件（按需补充）
.DS_Store  # macOS
Thumbs.db  # Windows

# Python 编译缓存
__pycache__/
*.py[cod]

# IDE 配置文件（示例）
.idea/
.vscode/
